CRM/CRM.Windows/Service References/ServiceReference/DataWCF2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8082/DataWCF?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DataBaseWCF" />
  <xs:import schemaLocation="http://localhost:8082/DataWCF?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetTestList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTestListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DataBaseWCF" minOccurs="0" name="GetTestListResult" nillable="true" type="q1:ArrayOfDataType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrintData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="a1" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrintDataResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLoginData">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLoginDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetLoginDataResult" nillable="true" type="q2:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerData">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DataBaseWCF" minOccurs="0" name="GetCustomerDataResult" nillable="true" type="q3:ArrayOfCustomerData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShortMeetingData">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShortMeetingDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/DataBaseWCF" minOccurs="0" name="GetShortMeetingDataResult" nillable="true" type="q4:ArrayOfShortMeetingData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShortTaskData">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShortTaskDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/DataBaseWCF" minOccurs="0" name="GetShortTaskDataResult" nillable="true" type="q5:ArrayOfShortTaskData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>