CRM/CRM.Windows/Service References/ServiceReference/DataWCF.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DataBaseWCF" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DataBaseWCF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfDataType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DataType" nillable="true" type="tns:DataType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDataType" nillable="true" type="tns:ArrayOfDataType" />
  <xs:complexType name="DataType">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Surname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tel" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DataType" nillable="true" type="tns:DataType" />
  <xs:complexType name="ArrayOfCustomerData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CustomerData" nillable="true" type="tns:CustomerData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCustomerData" nillable="true" type="tns:ArrayOfCustomerData" />
  <xs:complexType name="CustomerData">
    <xs:sequence>
      <xs:element minOccurs="0" name="ContactName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContactSurname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomerData" nillable="true" type="tns:CustomerData" />
  <xs:complexType name="ArrayOfShortMeetingData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ShortMeetingData" nillable="true" type="tns:ShortMeetingData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfShortMeetingData" nillable="true" type="tns:ArrayOfShortMeetingData" />
  <xs:complexType name="ShortMeetingData">
    <xs:sequence>
      <xs:element minOccurs="0" name="CustomerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ShortMeetingData" nillable="true" type="tns:ShortMeetingData" />
  <xs:complexType name="ArrayOfShortTaskData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ShortTaskData" nillable="true" type="tns:ShortTaskData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfShortTaskData" nillable="true" type="tns:ArrayOfShortTaskData" />
  <xs:complexType name="ShortTaskData">
    <xs:sequence>
      <xs:element minOccurs="0" name="CustomerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TaskType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ShortTaskData" nillable="true" type="tns:ShortTaskData" />
  <xs:complexType name="ArrayOfFullMeetingData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FullMeetingData" nillable="true" type="tns:FullMeetingData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFullMeetingData" nillable="true" type="tns:ArrayOfFullMeetingData" />
  <xs:complexType name="FullMeetingData">
    <xs:sequence>
      <xs:element minOccurs="0" name="CustomerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Goal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Owner" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Result" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FullMeetingData" nillable="true" type="tns:FullMeetingData" />
</xs:schema>