CRM/CRM.Windows/Service References/ServiceReference/DataService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DataService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8082/DataWCF?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8082/DataWCF?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8082/DataWCF?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DataBaseWCF" />
      <xsd:import schemaLocation="http://localhost:8082/DataWCF?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDataService_GetTestList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTestList" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetTestList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTestListResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_PrintData_InputMessage">
    <wsdl:part name="parameters" element="tns:PrintData" />
  </wsdl:message>
  <wsdl:message name="IDataService_PrintData_OutputMessage">
    <wsdl:part name="parameters" element="tns:PrintDataResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetLoginData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLoginData" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetLoginData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLoginDataResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetCustomerData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerData" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetCustomerData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerDataResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetShortMeetingData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetShortMeetingData" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetShortMeetingData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetShortMeetingDataResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetShortTaskData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetShortTaskData" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetShortTaskData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetShortTaskDataResponse" />
  </wsdl:message>
  <wsdl:portType name="IDataService">
    <wsdl:operation name="GetTestList">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/GetTestList" message="tns:IDataService_GetTestList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/GetTestListResponse" message="tns:IDataService_GetTestList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PrintData">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/PrintData" message="tns:IDataService_PrintData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/PrintDataResponse" message="tns:IDataService_PrintData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLoginData">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/GetLoginData" message="tns:IDataService_GetLoginData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/GetLoginDataResponse" message="tns:IDataService_GetLoginData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomerData">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/GetCustomerData" message="tns:IDataService_GetCustomerData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/GetCustomerDataResponse" message="tns:IDataService_GetCustomerData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetShortMeetingData">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/GetShortMeetingData" message="tns:IDataService_GetShortMeetingData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/GetShortMeetingDataResponse" message="tns:IDataService_GetShortMeetingData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetShortTaskData">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/GetShortTaskData" message="tns:IDataService_GetShortTaskData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/GetShortTaskDataResponse" message="tns:IDataService_GetShortTaskData_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDataService" type="tns:IDataService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTestList">
      <soap:operation soapAction="http://tempuri.org/IDataService/GetTestList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PrintData">
      <soap:operation soapAction="http://tempuri.org/IDataService/PrintData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLoginData">
      <soap:operation soapAction="http://tempuri.org/IDataService/GetLoginData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomerData">
      <soap:operation soapAction="http://tempuri.org/IDataService/GetCustomerData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetShortMeetingData">
      <soap:operation soapAction="http://tempuri.org/IDataService/GetShortMeetingData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetShortTaskData">
      <soap:operation soapAction="http://tempuri.org/IDataService/GetShortTaskData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DataService">
    <wsdl:port name="BasicHttpBinding_IDataService" binding="tns:BasicHttpBinding_IDataService">
      <soap:address location="http://localhost:8082/DataWCF" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>